body {
  font-family: Helvetica;
  text-align: center;
  position: relative;
  
}
h1{
  background-color: palevioletred;
}
#controlbar{
  margin: 0 auto; 
  width: 80%;
  padding:30px;
}

.navbutton{
  display: inline-block;
  margin: 1px; 
}
#drawingbox{
  background-color: white;
  border: 1px solid black;
  margin: auto;
  width: 100%;
  height: 400px;
}

@media screen and (max-width:600px) {
  .navbutton {
    width:100%; 
  }
  input {
  float: right;
  }
  select{
    float: right;
  }

  label {
    float: left;  
  }
  button {
    float: right;  
  }
  button#submit_username{
    float: inherit; 
  }
  input#username {
    float: inherit;
  }
  #drawingbox{
    background-color: white;
    border: 1px solid black;
    margin: auto;
    width: 100%;
    
  } 
  
 }